@import "bourbon";

.docs-container {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;

  display: flex;
  align-items: stretch;

  nav {
    flex: 0 0 300px;
    padding-left: 100px;
    flex-shrink: 0;
    ul, ol, li {
      margin: 0;
    }
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .docs {
    position: relative;
    flex: 2;
    padding: 40px 100px 40px 100px;

    li a {
      color: #2083c6;

      &:visited {
        color: #2083c6;
      }

      &:hover {
        color: lighten(#2083c6, 20%);
      }

      &:active {
        color: darken(#2083c6, 20%);
      }
    }
  }
}

/* # Issues
================================================== */
.docs .issues {
  position: absolute;
  top: 20px;
  right: 80px;
  display: flex;
  margin-top: 16px;
  padding: 20px;

  a {
    color: #b1b1b1;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    svg {
      margin-right: 4px;
      * {
        fill: #b1b1b1;
      }
    }
  }

  a + a {
    margin-left: 16px;
  }

  &:hover {
    a {
      color: #a2a2a2;
      svg * {
        fill: #a2a2a2;
      }

      &:hover {
        color: #8c8c8c;
        svg * {
          fill: #8c8c8c;
        }
      }

      &:active {
        color: #757575;
        svg * {
          fill: #757575;
        }
      }
    }
  }
}

.docs .warning + .issues {
  margin-top: 80px;
}

/* # Content
================================================== */
.docs-content {
  &>*:first-child {
    margin-top: 0 !important;
  }

  font-size: 16px;
  line-height: 1.6;

  h1 {
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-size: 30px;
    line-height: 1.2;
    border-bottom: 1px solid #f4f4f4;
    color: #333;
    font-weight: 200;
  }

  h2 {
    font-size: 24px;
    line-height: 1.225;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 200;
  }

  h3 {
    font-size: 18px;
    line-height: 1.225;
    margin-top: 30px;
    margin-bottom: 16px;
    font-weight: 600;
  }

  p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  a {
    color: #2083c6;

    &:visited {
      color: #2083c6;
    }

    &:hover {
      color: lighten(#2083c6, 20%);
    }

    &:active {
      color: darken(#2083c6, 20%);
    }
  }
}

/* # Table
================================================== */

table {
  border-collapse: collapse;
  width: 100%;

  th {
    display: none
  }

  tbody {
    tr {
      &:nth-child(2n) {
        background: rgba(#2083c6, .03);

        &:hover {
          background: rgba(#2083c6, .1);
        }
      }
      &:nth-child(2n-1) {
        background: rgba(#2083c6, .07);

        &:hover {
          background: rgba(#2083c6, .1);
        }
      }

      td {
        padding-top: 4px;
        padding-bottom: 4px;
      }

      td:first-child {
        font-weight: bold;
        line-height: 20px;
        font-size: 12px;
      }
      td:nth-child(2n) {
        color: #2083c6;
        line-height: 20px;
        padding-left: 20px;
        font-style: italic;
        font-size: 12px;
      }
      td:last-child {
        width: 100%;
        padding-left: 20px;
        color: #444;
        font-size: 13px;
      }
    }
  }
}

/* # Code
================================================== */
.docs pre code {
  font-size: 12px;
  white-space: pre-wrap;
  border-left: 4px solid #2083c6;
  padding: 30px 20px;
}
