nav.nav {
  background: #f3f3f3;

  ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    font-weight: 600;
    font-size: 15px;
    a {
      display: block;
      color: #333;
      text-decoration: none;
      font-weight: 300;
      line-height: 22px;
      font-size: 14px;
      transition: padding .1s;
      position: relative;

      &:hover {
        color: #38c4e8;
        text-decoration: underline;
      }

      &:active {
        color: darken(#38c4e8, 20%);
      }

      &:before {
        content: " ";
        position: absolute;
        top: 6px;
        left: 0;
        height: 0;
        width: 0;
        border: 4px solid transparent;
        transition: border .1s;
      }

      &.selected {
        color: #000;
        padding-left: 10px;
        font-weight: 400;
        &:hover {
          text-decoration: none;
        }
        &:before {
          border-left-color: #38c4e8;
        }
      }

    }

    ul {
      margin-top: 8px;
      margin-bottom: 20px;
    }

    a + ul {
      margin-top: 20px;
    }
  }
}
