@import "bourbon";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  font: 13px/1.4 "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  flex: 0;
}

#main {
  width: 100%;
  flex: 1;
  display: flex;
}
