@import "bourbon";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font: 13px/1.4 "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  color: #333;
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
}

#header {
  width: 100%;
  @include flex(0);
}

#main {
  @include flex(1);
  @include display(flex);
}
