.demo-background {
  background: url("./background.png");
  background-size: 80px 160px;
}

.demo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .toggle {
    margin: 40px 0;
  }

  .demo-window {
    margin-bottom: 40px;
  }
}

.demo.demo-warning {
  >div {
    margin-top: 40px;
    margin-bottom: 40px;
    background: white;
  }
}
