.toggle {
  background: rgba(255, 255, 255, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 42px;
  border: 1px solid rgba(255, 255, 255, .8);

  .option {
    user-select: none;
    padding: 0 10px;

    svg {
      width: 16px;
      height: 16px;

      * {
        fill: #333;
      }
    }
  }

  .switch {
    display: table-cell;
    vertical-align: middle;
    padding: 6px 10px;

    input {
      position: absolute;
      margin-left: -9999px;
      visibility: hidden;
    }

    input + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      padding: 2px;
      width: 30px;
      height: 12px;
      background-color: #008ffe;
      border-radius: 18px;
    }

    input + label:before,
    input + label:after {
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      content: "";
    }

    input + label:before {
      right: 1px;
      background: rgba(255, 255, 255, .9);
      border-radius: 12px;
      transition: background 0.4s;
    }

    input + label:after {
      width: 14px;
      background: linear-gradient(to bottom, #008ffe 0%, #0079d7 100%);
      border-radius: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, .1), inset 0 1px 0 rgba(255, 255, 255, .05);
      transition: margin 0.4s;
    }

    input:checked + label:after {
      margin-left: 19px;
    }
  }
}
