#header {
  width: 100vw;
  flex: 0;
  background: #31363d;
}

header.main-header {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &>a {
    flex-grow: 0;

    svg {
      width: 260px;
      height: 58px;
    }

    &:hover {
      svg {
        * {
          fill: white;
        }
      }
    }
  }

  nav {
    margin-left: 40px;
    flex-grow: 1;

    &:last-child {
      flex-grow: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        margin: 0;
        padding: 0;

        a {
          display: block;
          margin: 0 12px;
          color: white;
          text-decoration: none;
          line-height: 24px;
          font-size: 16px;
          font-weight: 200;

          &.github {
            display: flex;
            align-items: center;

            span {
              display: flex;
              align-items: center;
            }
            svg {
              margin-right: 8px;
              width: 20px;
              height: 20px;

              * {
                fill: white;
              }
            }
          }

          &:hover {
            color: #38c4e8;
            svg * {
              fill: #38c4e8;
            }
          }

          &:active {
            color: darken(#38c4e8, 20%);
            svg * {
              fill: darken(#38c4e8, 20%);
            }
          }
        }
      }
    }
  }
}
