body {
  padding: 30px 40px;
  font-family: serif;
  background: white;
  max-width: 600px;
}

#main>div>* {
  -webkit-appearance: none;
  margin-right: 14px;
  margin-bottom: 20px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.window-shadow {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .55),  0 5px 20px rgba(0, 0, 0, .2);
}

.window {
  padding: 24px 20px 20px 20px;
  background-color: #ececec;
}

.box {
  padding: 16px 20px 20px 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input, .form button {
  margin-right: 20px;
}
