body {
  margin: 20px;
  font-family: serif;
  background: #272727;
  max-width: 600px;
}

#main>div>*, input, button {
  -webkit-appearance: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.window {
  padding: 24px 20px 20px 20px;
  background-color: #ececec;
}

.box {
  padding: 24px 20px 0 20px !important;
}

.form {
}
