body {
  margin: 20px;
  font-family: serif;
  background: #272727;
  max-width: 600px;
}

#main>div>*, .form>* {
  -webkit-appearance: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.window {
  padding: 20px;
  background-color: #ececec;
}

.form {
  padding: 20px;
  padding-bottom: 0;
}
